*{
    padding:0;
    margin: 0;
}
.beginning{
   display: grid;
   grid-template-rows: 105px ;
   grid-template-columns: 190px 390px 390px 390px 390px 190px;
   background:#272933; 
   width: auto;
}
.aue{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 4;
    grid-column-end: 6;
    gap: 20px;
    color: white;
}
.hot{
    height: 105px;
    color: white;
    background:#272933; 
    border: none;
}
li{
    margin: 25px;
    display: inline;
}
.head{
    display: flex;
    align-items: center;
    grid-column-start: 2;
    grid-column-end: 3;
    background:#272933; 
    border: none;
    font-size: 24px;
    color:white;
}
.icon{
    display: flex;
    align-items: center;
    gap: 15px;
   
}
main{
    display: grid;
    grid-template-rows: 170px 200px 200px 170px ;
    grid-template-columns: 190px 390px 390px 390px 390px 190px;  
}
.idont{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end:7;
    background: url(images/background-main.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.center{
    display: grid;
    grid-auto-flow: column;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start:2;
    grid-column-end:6;
    border: 10px solid white;
    margin-left: 200px;
    margin-right: 200px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.sait{
    display: grid;
    grid-template-columns: 78px 78px 78px 78px 78px 78px ;
    grid-template-rows: 34px 34px 34px 34px 34px 34px 34px 34px   ;
    background:#343741 ;
}
.fotka{
    grid-row-start: 1;
    grid-row-end: 7;
    height: 300px;
}

.black{
    display: grid;
    grid-template-columns: 78px 78px 78px 78px 78px 78px 78px ;
    grid-template-rows: 34px 34px 34px 34px 34px 34px 34px 34px 25px ;
    background:#343741 ;
    
    
}
.media{
    color: white;
    font-size: 30px;
    align-items: flex-end;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 5;
}
.ssilka{
    margin-top: 18px;
    font-size: 20px;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 5;
    order: 1;
}
.ups{
    color: #c7c7c7;
    order: 2;
    font-size: 20px;
    grid-row-start: 5;
    grid-row-end: 8;
    grid-column-start: 2;
    grid-column-end: 8;
    margin-top: 20px;
}
.submit-1-p{
    grid-row-start:10;
    grid-row-end: 11;
    grid-column-start: 2;
    grid-column-end: 6;
}
.submit-1{
    width: 110px;
    height: 40px;
    color: white;
    background: #72b4fa;
    border: none;
    border-radius: 15px;
}
.submit-2-p{
    grid-row-start:10;
    grid-row-end: 11;
    grid-column-start: 4;
    grid-column-end: 6;
}
.submit-2 {
    width: 110px;
    height: 40px;
    color: white;
    border: 2px solid #6a737e;
    background: #31323b;
    border-radius: 15px;
}
.prewiew{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start:2;
    grid-column-end:6;
    color: white;
    font-size: 40px;
    margin-right: 50px;
}
.get{
    grid-column-start: 6;
    grid-column-end: 7;
}
.looking {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 4;
    font-size: 30px;
    margin-left: 100px;
    color: #87898b;
    
}
.provide{
    display: grid;
    align-items: center;
    color: #a6a9ad;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 4;
    grid-column-end: 6;
}
.pro{
    margin-right: 300px;
    grid-column-start: 2;
    grid-column-end: 3;
}
a{
    text-decoration: none;
    color: #72b3fa;
    
}
.features{
    display: grid;
    grid-template-rows: 80px 130px 130px 60px;
    grid-template-columns: 190px 195px 195px 195px 195px 195px 195px 195px 195px 190px; 
    background: url(images/background-main.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.beautiful{
    display: grid;
    align-items: center;
    justify-items: center;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}

.design{
    color:white;
    font-size: 25px;
}
.lorem-1{
    display: grid;
    text-align: center;
    color: white;
    font-size: 20px;
}
.fotoapp{
    display: grid;
    align-items: center;
    justify-items: center;
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 4;
}
.built{
    color: white;
    font-size: 25px;
}
.lorem-2{
    text-align: center;
    color: white;
    font-size: 20px;
}
.serdse{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 4;
}
.satisfaction{
    color: white;
    font-size: 25px;
}
.lorem-3{
    text-align: center;
    color: white;
    font-size: 20px;
}
.projects{
    display: grid;
    grid-template-rows: 165px 600px;
    grid-template-columns: 190px 390px 390px 390px 390px 190px; 
}
.latest{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-row-start:1 ;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 5;
    color: #858a8e;
    font-size: 24px;
}
.lorem-4{
    display: grid;
    justify-content: center;
    align-items: center;
    color: #a6a9ad;
    font-size: 18px;
    grid-row-start:1 ;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 5;
    margin-top: 35px;
}
.p-1{
    display: grid;
    justify-content: flex-start;
    align-items: center;
    grid-row-start:2 ;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;
    margin-left:100px;
}
.green{
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.1);
}
.p-2{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-row-start:2 ;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 5;
}
.red{
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.1);
}

.p-3{
    display: grid;
    justify-content: flex-end;
    align-items: center;
    grid-row-start:2 ;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 6;
    margin-right: 100px;
}
.grey{
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.1);
}
.testimonial{
    display: grid;
    grid-template-rows: 165px 400px;
    grid-template-columns: 190px 195px 195px 235px 155px 155px 235px 195px 195px 190px; 

}
.client{
    display: grid;
    justify-content: center;
    grid-row-start:1 ;
    grid-row-end: 2;
    grid-column-start: 4;
    grid-column-end: 8;
    color: #858a8e;
    font-size: 24px;
    margin-top: 30px;
}
.lorem-5{
    display: grid;
    justify-content: center;
    align-items: center;
    color: #a6a9ad;
    font-size: 18px;
    grid-row-start:1 ;
    grid-row-end: 2;
    grid-column-start: 4;
    grid-column-end: 8;
    
}
.t-1{
    display: grid;
    text-align: center;
    grid-row-start:2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;
    margin-left:100px;
}
.t-2{
    display: grid;
    text-align: center;
    grid-row-start:2 ;
    grid-row-end: 3;
    grid-column-start: 5;
    grid-column-end: 7;
}
.t-3{
    display: grid;
    text-align: center;
    grid-row-start:2 ;
    grid-row-end: 3;
    grid-column-start:8;
    grid-column-end: 10;
    margin-right: 100px;
}
.viva-1{
    font-size: 25px;
    color: #72b3fa;
}
.viva-2{
    color: #72b3fa;
    font-size: 25px;
}
.viva-3{
    color: #72b3fa;
    font-size: 25px;
}
.bill{
    margin-top: 40px;
}
.lol{
    color: #a6a9ad;
    margin-bottom: 80px;
}
.bill-1{
    margin-left:100px;
}
.bill-2{
    margin-left:110px;
}
.bill-3{
    margin-left:100px;
}
.footer{
    display: grid;
    grid-template-rows: 105px ;
    grid-template-columns: 190px 390px 390px 390px 390px 190px;
    background:#272933;
}
.copyright{
    display: grid;
    color: white;
    justify-content: flex-start;
    align-items: center;
    grid-column-start: 2;
    grid-column-end: 4;
}
.foot{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    grid-column-start: 5;
    grid-column-end: 6;
    margin-right: 30px;
}
